@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <link href="css/authlayout.css" rel="stylesheet" />
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>

                <div class="main-content">
                    <main>
                        <article class="content px-4">
                            @Body
                        </article>
                    </main>
                    <AppFooter />
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <RedirectToLogin />
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }
} 